<html lang="{{ $.Site.LanguageCode | default "en" }}">
    {{ partial "head" . }}
    <body>
        {{ partial "header" . }}

        <main role="main" class="page-content" aria-label="Content">
            <div class="wrapper">
                {{ block "breadcrumb" . }}{{ end }}

                <h1>{{ .Title }}</h1>

                {{ block "main" . }}{{ end }}
            </div>
        </main>
        
        <!-- Can it be really cached ? (meaning not changing between pages) -->
        {{ partialCached  "footer" . }}
    </body>
</html>