{{ define "breadcrumb" }}
  {{ partial "breadcrumb" . }}
{{ end }}

{{ define "main" }}

    <h1>{{ .Title }}</h1>
    
    {{ .Content }}

  <section>
    {{- if .InSection .FirstSection -}}
      <!-- Special layout for main posts/_index.html page -->
      {{/* Merge the if into the range with the where do not work properly.. */}}
      {{ $paginator := .Paginate .Pages }}
      {{ range $paginator.Pages }}
        {{ if in site.Params.blogSections (path.Base .Dir) }}
          {{ partial "boxes-section-list" (dict "context" . "fullcontent" false) }}
        {{ end }}
      {{ end }}
    {{- else -}}
      <!-- Layout for the rest of folders inside posts/ folder -->
      <ul>
        {{ $currentSectionName := .CurrentSection.Name }}
        {{ $pages := (where .Site.RegularPages "Section" "posts") }}
        {{/* $paginator := .Paginate ($pages.GroupByPublishDate ($.Param "talksGroupByDate" | default "2006")) 1 */}}
        {{/* range $paginator.Pages */}}
        {{ range $pages }}
          {{ if eq $currentSectionName .Parent.Name }}
            {{ partial "section-list" (dict "context" . "fullcontent" false) }}
          {{ end }}
        {{ end }}
      </ul>
    {{ end }}
  </section>
{{ end }}