{{ define "breadcrumb" }}
  {{ partial "breadcrumb" . }}
{{ end }}

{{ define "main" }}

  <h1>{{ .Title }}</h1>

  {{- if .InSection .FirstSection -}}
  {{ .Content }}
  <section>
      <!-- Special layout for main posts/_index.html page -->
      {{/* Merge the if into the range with the where do not work properly.. */}}
      {{ $paginator := .Paginate .Pages }}
      {{ range $paginator.Pages }}
        {{ if in site.Params.blogSections (path.Base .Dir) }}
          {{ partial "boxes-section-list" (dict "context" . "fullcontent" false) }}
        {{ end }}
      {{ end }}
  </section>
  {{- else -}}
    <!-- Layout for the rest of folders inside posts/ folder -->

    <!-- Create tags navigation -->
    {{ $.Data.Terms }}
    <nav class="tag-nav">
      <ul>
        {{ range .Site.Taxonomies.tags }}
          <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> {{ .Count }}</li>
        {{ end }}
      </ul>
    </nav>

    <!-- Create all the posts ordered by date -->
    {{ $currentSectionName := .CurrentSection.Name }}
    {{ $pages := (where .Site.RegularPages "Section" "posts") }}
    {{ $paginator := $pages.GroupByPublishDate "2006-01" }}
    {{ range $paginator }}
      <section>
        <h3 class="timeline-title-date">{{ .Key }}</h3>
        <ul class="timeline-list">
          {{ range .Pages }}
            {{ if eq $currentSectionName .Parent.Name }}
              {{ partial "section-list" (dict "context" . "fullcontent" false) }}
            {{ end }}
          {{ end }}
        </ul>
      </section>
    {{ end }}
  {{ end }}
{{ end }}