{{ define "breadcrumb" }}
    {{ partial "breadcrumb" . }}
{{ end }}

{{ define "main" }}

    <h1 class="post-title">{{ .Title }}</h1>
    {{ partial "post-info.html" . }}

    <section>
        <div class="TableOfContents">
            <h3>{{ i18n "table-of-content" }}</h3>
            {{ .TableOfContents }}
        </div>
        <div class="left-content-overflow">
            {{ .Content }}
        </div>
    </section>
    
    {{ partial "similar-posts.html" . }}

    {{ partial "single-navigation.html" . }}

    {{ template "_internal/disqus.html" . }}
{{ end }}