<nav class="language-nav">
    <input type="checkbox" id="language-trigger" class="language-trigger" />
    <label for="language-trigger">
        <span class="language-icon">
            {{ emojify .Site.Language.Params.Emoji }}
        </span>
    </label>

    {{ $currentDir := .File.Dir }}
    <div class="languages-trigger">
        {{ range .Site.Home.AllTranslations }}
            {{- partial "language/languageLink.html" (dict "context" . "translatedPath" (path.Join "content" .Language $currentDir) "currentDir" $currentDir) -}}
        {{ end }}
    </div>
</nav>