<nav class="language-nav">
    <input type="checkbox" id="language-trigger" class="language-trigger" />
    <label for="language-trigger">
        <span class="language-icon">
            {{ emojify .Site.Language.Params.Emoji }}
        </span>
    </label>
    {{ $currentDir := .Dir }}
    <div class="languages-trigger">
        {{ range $.Site.Home.AllTranslations }}
            {{ ( $currentDir | relLangURL) }}
            {{ fileExists (string ((path.Join .RelPermalink $currentDir) | relLangURL )) }}
            {{ with ((path.Join .RelPermalink $currentDir) | absLangURL) "section" .Key }}
            blafa
            {{ else }}
            ogogogo
            {{ end }}
            {{/* $translationExists := (fileExists (path.Join .RelPermalink $currentDir)) | absLangURL */}}
            {{/* $translationExists */}}

            {{ if true }}
            <a class="language-link" href="{{ path.Join .RelPermalink $currentDir }}">{{ emojify .Language.Params.Emoji }}</a>
            {{ else }}
            <a class="language-link" href="{{ .RelPermalink }}">{{ emojify .Language.Params.Emoji }}</a>
            {{ end }}
        {{ end }}
    </div>
</nav>