


<nav style="display:inline-block;">
    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
    <label for="nav-trigger">
        <span>
            {{ emojify .Site.Language.Params.Emoji }}
        </span>
    </label>


    

    <div class="trigger" style="display:none;">
        <ul>
            {{ range $.Site.Home.AllTranslations }}
                <li>
                    <a href="{{ .Permalink }}">{{ emojify .Language.Params.Emoji }}</a>
                </li>
            {{ end }}
        </ul>
    </div>
</nav>