<div>
    <h1>
        {{- .context.Params.emoji | emojify -}}
        <a href="{{ .context.RelPermalink }}">
        {{- if eq .context.Section "functions" -}}
        {{ .context.LinkTitle }}
        {{- else -}}
        {{ .context.Title }}
        {{- end -}}
        </a>
    </h1>
    
    <div class="blog-section-description">
        {{ if .context.Params.description  }}
            {{- .context.Params.description | markdownify -}}
        {{ else }}
            {{- .context.RawContent -}}
        {{ end }}
    </div>
</div>