<header class="site-header">
    <div class="wrapper">
        <div class="profil-header">
            <a class="site-title" rel="author" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
            <p class="profil-description">{{ .Site.Params.role }}</p>
            <ul class="social-media-list">
            {{ range sort $.Site.Params.Social "order" }}
                <li>
                    <a href="{{ .Path }}" aria-label="{{ .Name }}">
                        <svg class="svg-icon">
                            <use xlink:href="{{ print `svg/gamefolio-social-icons.svg` `#` (lower .Name) | relURL }}">
                            </use>
                        </svg>
                    </a>
                </li>
            {{ end }}
            </ul>
        </div>
  
        <div class="site-nav">
            {{ partial "menus" .  }}

            {{ partial "allLanguages" . }}
        </div>
    </div>
  </header>
  