<div class="post-summary">
    <h1><a href="{{ .context.RelPermalink }}">{{ .context.Title }}</a></h1>
    <date datetime="{{ .context.Date.Format (i18n `postdateformat`) }}">
        {{ .context.Date.Format (i18n "postdateformat") }}
    </date>

    <p>{{ .context.Summary }}</p>

    <div>
        <span>Tags: </span>
        {{- range ( .context.GetTerms "tags")  -}}
            <span class="tag"><a href="{{ .Permalink }}">#{{ .LinkTitle }}</a></span>
        {{- end -}}
    </div>
    {{ partial "share" (dict "context" .context "params" .context.Params) }}
</div>