{{ $.Scratch.Set "total" 0 }}
{{ $paginator := .sectionposts }}
<section class="left-content-overflow">
{{ range $paginator }}
    {{ if or (eq ($.sectionname | string) (.Parent.Name | string)) (not $.sectionname) }}
        {{- partial "post-summary" (dict "context" . "fullcontent" false) -}}

        <!-- Insert the separator if there is still one post to display -->
        {{ $index := $.Scratch.Get "total" }}
        {{ $.Site.Params.nbLatestPosts }}
        <hr class="post-separator">
        {{ $.Scratch.Add "total" 1 }}
    {{ end }}
{{ end }}
</section>