<div class="donation">
  <div class="donation__message">
    {{ i18n "share-message" }}
  </div>
  <div class="donation__icons">
    {{ range .context.Site.Params.shareon }}
      {{ if eq (lower .Name) "facebook" }}
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ $.context.RelPermalink | absLangURL }}" title="{{ i18n "facebook" | default "Facebook" }}" aria-label="Facebook Share Button" class="donation__item" target="_blank" rel="noreferrer" data-type="share">
          <svg class="svg-icon"><use xlink:href="{{ print `svg/gamefolio-social-icons.svg#linkedin` | relURL }}"></use></svg>
        </a>
      {{ else if eq (lower .Name) "twitter" }}
        <a href="https://twitter.com/intent/tweet?text={{ $.context.Title }}&url={{ $.context.Permalink | absLangURL }}{{ with $.context.Params.tags }}&hashtags={{ delimit . "," }}{{ end }}&via={{ .username | default $.context.Site.Params.author }}" title="{{ i18n "twitter" | default "Twitter" }}" aria-label="Twitter Share Button" class="donation__item" target="_blank" rel="noreferrer" data-type="share">
          <svg class="svg-icon"><use xlink:href="{{ print `svg/gamefolio-social-icons.svg#twitter` | relURL }}"></use></svg>
        </a>
      {{ end }}
    {{ end }}
  </div>
</div>