<nav class="tag-nav">
  {{ $allTags := .context.Site.Taxonomies.tags }}

  <!-- Get all the tags currently used in the website -->
  {{ $types := slice }}
  {{ range $allTags }}
    {{ $types = $types | append .Page.Title }} <!-- get value of "type" -->
  {{ end }}
  {{ $types = uniq $types }} <!-- get unique types values -->

  {{ $var := $.context.Scratch }}
  {{ range $title_key, $elem_tags := .context.Site.Params.TagsCategory }}
    {{ $var.Delete "mergedTax" }}

    <!-- First Iterate over all tags and find them and add them to a list -->
    {{ range $allTags }}
      {{ $tag := . }}
      {{ range $elem_tags.Tags }}
        {{ if eq $tag.Page.Title . }}
          {{ $var.Add "mergedTax" (slice $tag) }}
        {{ end }}
      {{ end }}
    {{ end }}

    <!-- Check if there is a least one tag. If so, display it/them. -->
    {{ if ($var.Get "mergedTax") }}
    <section>
      <h3>{{ $title_key | humanize }}</h3>
      <ul>
      {{ range $test := ($var.Get "mergedTax") }}
        <li style="background-color: {{ $elem_tags.Color }};"><a href="{{ $test.Page.Permalink }}">{{ $test.Page.Title }}</a> | {{ $test.Count }}</li>
      {{ end }}
      </ul>
    </section>
    {{ end }}
  {{ end }}

  <!-- Display the rest of tags not listed with the same method -->
  {{ range $allTags }}
    {{ $.context.Scratch.Set "found" "false" }}
    {{ $tag := . }}
    {{ range $title_key, $elem_tags := $.context.Site.Params.TagsCategory }}
      {{ range $elem_tags.Tags }}
        {{ if eq $tag.Page.Title . }}
          {{ $.context.Scratch.Set "found" true }}
        {{ end }}
      {{ end }}
    {{ end }}

    {{ $found := $.context.Scratch.Get "found" }}
    {{ if eq $found "false" }}
      {{ $var.Add "otherTax" (slice .) }}
    {{ end }}
  {{ end }}




  {{ if ($var.Get "otherTax") }}
  <h3>Others</h3>
  <ul>
    {{ range ($var.Get "otherTax") }}
      <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> | {{ .Count }}</li>
    {{ end }}
  </ul>
  {{ end }}
</nav>
