<!-- Center this ? -->
{{/* Get weekly finding section */}}
{{ $weeklyFindingSection := where (where .context.Site.AllPages "Section" "weekly-finding") "Kind" "!=" "section" }}
{{ range first 1 $weeklyFindingSection.ByDate.Reverse }}
<div>
    <h3 class="project-heading"><a a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
    <p>{{ .Description }}</p>
    {{ $thumbnail_image := .Params.thumbnail }}
    <img class="post-image" src="{{ $thumbnail_image }}" alt="{{ $thumbnail_image }}" />
    <div class="post-summary">
        {{ .Summary | plainify }}
        {{ if .Truncated }}
        <a href="{{ .RelPermalink }}">Read More…</a>
        {{ end }}
    </div>
</div>
{{ end }}

<span class="seemore-link">
    <a href="{{ .Permalink }}">Archives &raquo;</a>
</span>
