{{ define "main" }}
    <section class="intro">
        <div class="finding">
            <h2>Hot finding</h2>
            {{- partial "weekly-finding" (dict "context" . ) -}}
        </div>
        <div class="intro">
            <h2>Welcome</h2>
            {{ .Content }}
            {{ partial "random-quotes" (dict "context" . ) }}
        </div>
    </section>
    <section>
        <h2>Latest Articles</h2>
        {{ $currentLang := .Site.Language.Lang }}
        {{ $posts := where (where .Site.AllPages "Type" "in" site.Params.mainSections) "IsNode" "==" false }}
        {{ range first .Site.Params.NbLatestPosts (where $posts "Language.Lang" "=" $currentLang).ByDate.Reverse }}
            {{- partial "post-summary" (dict "context" . "fullcontent" false) -}}
        {{ end }}
    </section>
{{ end }}