{{ define "main" }}

    {{ .Content }}

    {{ $currentPage := . }}
    <nav role="navigation">
    <ul class="list">
        {{ range .Site.Menus.docs.ByWeight }}
        {{ $post := printf "%s" .Post }}
        {{ if eq $post "break" }}
        here
        {{ end }}
        <li>
            <a href="{{ if .HasChildren }}javascript:void(0){{ else }}{{ .URL }}{{ end }}" class="{{if or ($currentPage.IsMenuCurrent "docs" .) ($currentPage.HasMenuCurrent "docs" .) }} primary-color{{end}}" data-target=".{{ .Identifier }}">{{ .Name }}</a>
            {{- if .HasChildren }}
            {{ .Identifier }}
            <ul class="{{ .Identifier }}{{if $currentPage.HasMenuCurrent "docs" . }} db{{ else }} dn{{ end }}">
            {{- range .Children }}
            <li class="f6 fw4">
                <a href="{{.URL}}" class="{{if $currentPage.IsMenuCurrent "docs" . }}primary-color {{ else }}black {{end}}">
                {{ .Name }}
                </a>
            </li>
            {{- end}}
            </ul>
            {{- end}}
        </li>
        {{- end}}
    </ul>
    </nav>

{{ end }}