.seemore-link {
    display: block;
    text-align: right;
}

.post-image
{
    float: left;
}

/*.post-summary {
    //margin-bottom: 10px;
}*/

.basic-list {
    margin: auto;
    list-style: none;
}

.timeline-title-date {
    display: inline;
    border: 5px solid gray;
    border-radius: 6px;
    padding: 0 2px;
}

.timeline-list {
    list-style: none;
    position: relative;
    padding-left: 25px;
    padding-top: 15px;
    width: 70%;

    :before {
        content: '';
        width: 5px;
        background-color: gray;
        position: absolute;
        left: 8px;
        top: 0;
        height: 100%;
    }

    @include media-query($on-palm) {
        width: auto;
    }
}

.post-teaser {
    padding: 5px 0;
    margin-bottom: auto;

    date {
        border: 1px solid black;
        padding: 2px;
        border-radius: 6px;
        word-break: keep-all;
    }

    > a {
        margin-left: 10px;
    }
}

.post-tags {
    display: inline;
    padding: 0 10px;
    float: right;
}

.tag-nav {
    float: right;
    width: 20%;
    margin-left: $spacing-unit;

    h3 {
        margin: auto;
    }

    ul {
        margin: auto;
    }

    li {
        display: inline-block;
        font-size: 0.75em;
        border: 1px solid gray;
        padding: 0 2px;
        margin: 2px 0;
        border-radius: 6px;
        background-color: burlywood;
    }
}