// Main index.html page
.finding {
    float: right;
    width: 50%;
    padding-left: $spacing-unit;

    @include media-query($on-palm) {
        float: none;
        position: inherit;
        width: 100%;
        padding-left: 0px;
    }
}

.hot-finding-body {
    overflow: hidden;
    padding-left: 10px;
}
.intro {
    overflow: auto;
}

// About page
.about-img {
    float: left;
    padding: 10px;
}

// Use for section blog page
.classic-ul {
    list-style: none;
    margin: 5px 0;
}

.post-published-date {
    float: left;
    margin-right: 10px;
}

.info-tags {
    display: inline-block;
    list-style: none;

    li {
        display: inline;  
    }
}

.share-links {
    float: right;

    div {
        display: inline-block;
    }

    .share-message {
        vertical-align: middle;
    }
}

.post-summary {
    margin-bottom: $spacing-unit;

    h1 {
        margin: auto;
        font-size: 1.7em;
    }

    p {
        margin: auto;
    }
}

.blog-post-title {
    margin: auto;
}

.blog-section-description {
    border-radius: 10px;
    padding: 10px;
    background-color: #ecf3ff;
    overflow: auto;
}

.post-separator {
    margin: 10px 300px;
}

.section-thumbnail-img {
    height: 90px;
    width: 90px;
    float: left;
    padding: 0 10px;
}
// End

.about-form {
    text-align: left;
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;

    fieldset {
        text-align: left;
        border: none;
        padding: 10px 0px;
        
        input, label, textarea {
            font-family: inherit;
            display: inline-block;
            padding: 0.75em 1em;
            width: 100%;
            box-sizing: border-box;
        }

        label {
            padding: 0.75em 0em;
        }
    }
}

.contact-button {
    margin: auto;
    padding: 1em 5em;
}

.project-img {
    float: left;
    padding-right: 10px;
    padding-top: 10px;
    text-align: center;
}

blockquote {
    text-align: center;
}

.copyright-notice {
    text-align: center;
    margin: auto;
}

.seemore-link {
    display: block;
    text-align: right;
}

.post-image
{
    float: left;
}

.basic-list {
    margin: auto;
    list-style: none;
}

.timeline-title-date {
    display: inline;
    border: 5px solid gray;
    border-radius: 6px;
    padding: 0 2px;
}

.timeline-list {
    list-style: none;
    position: relative;
    padding-left: 25px;
    padding-top: 15px;
    width: 70%;

    :before {
        content: '';
        width: 5px;
        background-color: gray;
        position: absolute;
        left: 8px;
        top: 0;
        height: 100%;
    }

    @include media-query($on-palm) {
        width: auto;
    }
}

.post-teaser {
    padding: 10px 0;
    margin-bottom: auto;

    h3 {
        margin: auto;
    }

    date {
        float: left;
        margin-top: 3px;
        //border: 1px solid black;
        padding: 2px;
        border-radius: 6px;
        word-break: keep-all;
        min-width: 85px;
        text-align: center;
    }
}

.left-content-overflow {
    overflow: auto;
}

// Tag sections
.project-tags {
    margin: auto;
    padding-top: 6px;
    text-align: center;
}

.post-tags {
    display: inline;
    padding: 0 10px;
    float: right;
}

.tag-nav {
    float: right;
    width: 20%;
    margin-left: $spacing-unit;
    position: sticky;
    top: $spacing-unit;

    h3 {
        margin: auto;
    }

    ul {
        margin: auto;
    }

    li {
        display: inline-block;
        font-size: 0.75em;
        border: 1px solid gray;
        padding: 0 2px;
        margin: 2px 0;
        border-radius: 6px;
        background-color: burlywood;
    }
}

// Top and bottom navigation for single page (basic blog post) 
.single-pagination {
    min-height: 25px;
}

.single-pagination-left {
    float: left;
}

.single-pagination-right {
    float: right;
}

.post-title {
    margin-bottom: 10px;
}

.blog-post-header {
    margin-bottom: $spacing-unit;
}

// Single Post CSS
.TableOfContents {
    float: right;
    position: sticky;
    top: $spacing-unit;
    padding-left: $spacing-unit;

    h3 {
        margin: 0;
    }

    ul {
        list-style: none;
    }

    ul:first-child {
        margin-bottom: 0;
        margin-left: 0;
    }

    @include media-query($on-palm) {
        float: none;
        position: inherit;
        margin-top: $spacing-unit;
    }
}

.center {
    text-align: center;
}